<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="assignments-ProjectId-<%%VALUE(Id)%%>" class=""><%%VALUE(ProjectId)%%></td>
		<td id="assignments-ResourceId-<%%VALUE(Id)%%>" class=""><%%VALUE(ResourceId)%%></td>
		<td id="assignments-Commitment-<%%VALUE(Id)%%>" class="text-right"><%%VALUE(Commitment)%%></td>
		<td id="assignments-StartDate-<%%VALUE(Id)%%>" class=""><%%VALUE(StartDate)%%></td>
		<td id="assignments-EndDate-<%%VALUE(Id)%%>" class=""><%%VALUE(EndDate)%%></td>
