<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'projects_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="projects-Name-<%%VALUE(Id)%%>" valign="top" class="projects-Name TableBody"><%%SELECT%%><%%VALUE(Name)%%><%%ENDSELECT%%></td>
		<td id="projects-StartDate-<%%VALUE(Id)%%>" valign="top" class="projects-StartDate TableBody"><%%SELECT%%><%%VALUE(StartDate)%%><%%ENDSELECT%%></td>
		<td id="projects-EndDate-<%%VALUE(Id)%%>" valign="top" class="projects-EndDate TableBody"><%%SELECT%%><%%VALUE(EndDate)%%><%%ENDSELECT%%></td>
