<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'resources_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="resources-Name-<%%VALUE(Id)%%>" class="resources-Name "><%%SELECT%%><%%VALUE(Name)%%><%%ENDSELECT%%></td>
		<td id="resources-Available-<%%VALUE(Id)%%>" class="resources-Available "><%%SELECT%%><%%VALUE(Available)%%><%%ENDSELECT%%></td>
